<div class="js__shoppingcart-cart">
  <h3 class="js__shoppingcart-cart__title" style="display: none"></h3>
  <table class="table js__shoppingcart-cart__table">
    <thead></thead>
    <tbody></tbody>
  </table>
</div>