<span class="shoppingcart-summary">
    <a href="#" class="shoppingcart-checkout">
        {{ 'PLUGIN_SHOPPINGCART.CHECKOUT'|t }}
        <i class="fa fa-shopping-cart">
            <span class="shoppingcart-total-items"></span>
        </i>
    </a>
</span>

