{% extends 'shoppingcart_base.html.twig' %}

{% block content %}
    <style>
        #admin-main .admin-block p {
            padding: 0 3rem 0.5rem;
            margin: 0 0 1rem;
        }
    </style>

    <h1>Addons</h1>
    <p>List of the available ShoppingCart Plugin Addons</p>

    <div class="gpm-item-info">
        <table>
            <tbody>
                <tr>
                    <td colspan="2"><strong>Feature Addons</strong></td>
                </tr>                
                <tr>
                    <td>Shoppingcart Personalizer</td>
                    <td>
                        <a href="https://github.com/leotiger/grav-plugin-shoppingcart-personalizer" target="_blank">Link to GitHub</a></a>
                    </td>
                    <td>Free Addon</td>
                </tr>
                
                <tr>
                    <td colspan="2"><strong>Payment Processing Addons</strong></td>
                </tr>                
                <tr>
                    <td>PayPal</td>
                    <td>
                        <a href="https://github.com/flaviocopes/grav-plugin-shoppingcart-paypal" target="_blank">Link to GitHub</a></a>
                    </td>
                    <td>Free Addon</td>
                </tr>
                <tr>
                    <td>Stripe</td>
                    <td>
                        <a href="https://github.com/flaviocopes/grav-plugin-shoppingcart-stripe" target="_blank">Link to GitHub</a></a>
                    </td>
                    <td>Free Addon</td>
                </tr>
                <tr>
                    <td>2Checkout</td>
                    <td>
                        <a href="https://github.com/NedgoIO/grav-plugin-shoppingcart-twocheckout" target="_blank">Link to GitHub</a></a>
                    </td>
                    <td>Free Addon</td>
                </tr>
                <tr>
                    <td>2Checkout Dev</td>
                    <td>
                        <a href="https://github.com/weput/grav-plugin-shoppingcart-2checkout-dev" target="_blank">Link to GitHub</a></a>
                    </td>
                    <td>Free Addon</td>
                </tr>
                <tr>
                    <td>2Checkout</td>
                    <td>
                        <a href="https://github.com/NedgoIO/grav-plugin-shoppingcart-twocheckout" target="_blank">Link to GitHub</a></a>
                    </td>
                    <td>Free Addon</td>
                </tr>
                <tr>
                    <td>Pin Checkout</td>
                    <td>
                        <a href="https://github.com/absalomedia/grav-plugin-shoppingcart-pin" target="_blank">Link to GitHub</a></a>
                    </td>
                    <td>Free Addon</td>
                </tr>
                <tr>
                    <td>Manual checkout</td>
                    <td>
                        <a href="https://github.com/koobitor/grav-plugin-shoppingcart-manual-checkout" target="_blank">Link to GitHub</a></a>
                    </td>
                    <td>Free Addon</td>
                </tr>
                <tr>
                    <td colspan="2"><strong>Others</strong></td>
                </tr>                
                <tr>
                    <td>Pay what you want</td>
                    <td>
                        <a href="https://github.com/hectorromo/grav-plugin-shoppingcart-pay-what-you-want" target="_blank">Link to GitHub</a></a>
                    </td>
                    <td>Free Addon</td>
                </tr>
                
            </tbody>
        </table>
    </div>
{% endblock %}


