{% extends 'partials/shoppingcart_base.html.twig' %}

{% block content %}

    {{ parent() }}

    <div class="content-wrapper">
        {{ page.content }}

        <div class="shoppingcart-products block-group">
            {% for child in page.collection() %}
                {% if (child.header.unpublished is not defined or (child.header.unpublished == false)) %}
                    {% include 'partials/shoppingcart_product_item.html.twig' with {'page': child, 'parent': page} %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}


