{% extends 'partials/shoppingcart_core_base.html.twig' %}

{% block content %}

    {{ parent() }}

    {% include 'partials/shoppingcart_core_cart.html.twig' %}

    <script>
    (function() {
        ShoppingCart.currentPageIsProducts = true;
        ShoppingCart.currentProducts = [];
    }());
    </script>

    <div class="content-wrapper">
        {{ page.content|raw }}

        <div class="shoppingcart-products block-group">
            {% for child in page.collection() %}
                {% if (child.header.unpublished is not defined or (child.header.unpublished == false)) %}
                    {% include 'partials/shoppingcart_core_product_item.html.twig' with {'page': child, 'parent': page, 'display_add_to_cart': page.header.display_add_to_cart} %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}


